.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e2e2d4;
  border: 2px solid #706d6d;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  width: 250px;
  margin: 50px;
  outline: 0px solid #00000000;
  transition: outline 100ms ease 0s;
}

.product-card:hover {
  outline: 4px solid #504d4d;
}

.product-image {
  width: 220;
  height: 309px;
  object-fit: cover;
  border-radius: 5px;
}

.product-details {
  text-align: center;
  padding-top: 15px;
  color: #000000;
}
.product-link {
  text-decoration: none;
  cursor: pointer;
}

.product-link:hover {
  cursor: pointer;
}
  
  
  