.myCards-container {
  max-width: 800px;
  padding: 35px;
  margin: auto;
}

.myCards-container h1:first-child {
  margin-bottom: 35px;
}

.product-image-myCards {
  height: 120px;
  margin-right: 15px;
  transition: width 0.3s, height 0.3s; 
}

.product-image-myCards:hover {
  height: 390px;
}

.product-list-myCards {
  display: unset;
  margin-top: 20px;
}

.product-row-myCards {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background-color: #e2e2d4;
  border-radius: 25px;
  position: relative;
}

.product-details-myCards {
  display: flex;
  align-items: center;
}

product-row-myCards input[type="checkbox"] {
  position: absolute;
  right: 50px;
}

@media only screen and (max-width: 600px) {
  input[type="checkbox"] {
    position: relative;
    left: 30%;
  }
}

.notification-add-cards {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.notification-add-cards.success {
  background-color: #d4edda;
  color: #155724;
}

.notification-add-cards.error {
  background-color: #f8d7da;
  color: #721c24;
}

.remove-cards-button {
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 50px; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease;
  width: 320px; 
  height: 60px; 
}

.remove-cards-button:hover {
  background-color: #0056b3;
}

