.chat-container-chatContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #e2e2d4;
    border-radius: 60px;
    margin: 0px 10%;
    padding: 5px 30px;
    transform: padding 10s ease 0s;
  }

  @media screen and (max-width: 600px) {
    .chat-container-chatContainer {
      padding: 5px 0px !important;
    }
  }