.chat-container-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  position: relative;
}

.messages-container-chat {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message-chat {
  max-width: 70%;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.sender-chat {
  background-color: #DCF8C6;
  align-self: flex-end;
}

.receiver-chat {
  background-color: #F0F0F0;
  align-self: flex-start;
}

.text-input-chat {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

.text-input-chat input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-input-chat button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
