/* header.css */

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    margin: 0;
    cursor: pointer;
}

.search-bar input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.search-bar-container {
    flex-grow: 1;
    margin-left: 20px;
}

.login-text {
    margin: 0;
}

.login-button,
.register-button,
.add-cards-button,
.all-chats-button,
.my-account-button,
.my-cards-button {
    margin: 10px;
    font-size: 14px;
}

.login-buttons-container {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .login-buttons-container {
        flex-direction: column;
    }
}

.user-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.username {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -140px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    background-color: #f1f1f1;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}
